.lalka {
  background-color: grey;
}
#qwerty {
  text-decoration: none;
  text-color: white;
  
}
body {
  background-color:#FFFFDD;
  font-family: 'Bitter', serif;
}
p {
  background-color:#CCFFFF;
}